button{
    width: 200px;
    height: 50px;
}

button:focus { 
    outline: none; 
}

span {
    font-size: 30px;
}

li{
    list-style-type: none;
}

.user-name{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.button-box{
    display: flex;
    justify-content: space-around;
}

.del {
    display: inline-block;
    border: none;
    width: 50px;
    height: 35px;
    background: url('img/close.svg') no-repeat center center / contain;
}